
<footer>
    Copyright CAILLOT Antoine, July 2024.
</footer>
<!-- <script>
    $.getJSON("https://caillotantoine.github.io/content/footer.json", function(json) {
        console.log(json);
        document.getElementById("webmaster").innerText = json.webmaster;
        document.getElementById("lastedited").innerText = json.edited;
        json.font.forEach(element => {
            document.getElementById("fontused").innerText += element + ",";
        });
    });
    // console.log(footer_json_obj);
    // document.getElementById("demo").innerHTML = "Oui";
</script> -->