@import './fonts.css';
@import './colors.css';

@media (orientation: portrait)
{
    #about_author {
        display: flex;
        flex-direction: column;
        text-align: left;
        /* border: 2pt solid black; */
    
        vertical-align: middle;
        line-height: normal;
        margin-top: 20vh;
        margin-bottom: 20vh;
    }
    #img_cont {
        margin: auto;
        width: 50%
    }

    #img_cont + #author {
        margin-top: 5vh;
    }
}



#profile_img_cont {
    margin: auto;
    width: 100%;
    max-width: 150pt;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
    border: 2pt solid lightgray;
    box-shadow: 0 0 5pt black;
}

#profile_img {
    width: 100%;
}

#author {
    width: 90%;
    margin: auto;
    text-align: justify;
}

#authorName {
    font-family: Nordica;
    font-size: 10vw;
    font-weight: normal;
}

#authorWelcomeMsg {
    padding-left: 2vh;
    border-left: 1px solid black;
    font-family: Nordica;
    font-size: 16pt;
    font-weight: lighter;
}

#experience {
    /* border-style: solid;  */
    width: 90%;
    margin: auto;
    /* border-collapse: collapse; */
}

#experience td {
    /* padding-top: 2vh;
    padding-bottom: 2vh; */
    /* height: max-content; */
    border-collapse: collapse;
    /* border-style: solid;
    border-color: black; */
    /* border-width: pt; */
    vertical-align: middle;
    height: 100px;
    color: var(--main);
    /* background-color: rgb(200, 200, 255) */
}

/* tr{
    border-collapse: collapse;
} */



#experience h2 {
    font-family: PetiteFrance;
    font-weight: lighter;
    font-size: 12pt;
    color: var(--dark)
}

.accademic{
    text-align: left;
    width: 45%
}
.pro{
    text-align: right;
    width: 45%;
}

.middle{
    width: 10%;
    padding: 0;
}

#links {
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 15vh;
    justify-content: space-between;
}

